.subtotal {
  display: table;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  height: 100px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.subtotal__image {
  max-height: 100px;
  width: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}
